body{

	background: black;
	font-family: "apercu",sans-serif;
	font-size: 150%;
	text-align: center;
	color: white;
}
ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
  	background-color: black;
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index:2;
}
li a {
	float: right;
  	display: block;
  	color: #00D100;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
li a:hover {
	color: white;
}
.highlight-word{
	background: rgba(350,350,350,0.6);
	font-style: oblique;
	color: black;
}
.mainTitle {
  	float: left;
}
.mainTitle:hover{
	color: white;
  	background-color: green;
}
.mainTitle span {
	animation:blinking 2s infinite;
}
.active {
	color: black;
	background-color: #00D100;
}
@keyframes blinking{
	0%{  color: white; }
	60%{ color: white; }
	100%{  color:transparent; }
}
.minititle{
	color: #00D100;
}
.container-fluid{
	background-color: #020202;
}
.profile-top{
	font-size: 200%;
	font-family: 'Futura';

}
.highlight:hover {
	width: 100%;
}
.highlight {
  	align-self: center;
  	display: inline-block;
  	position: absolute;
  	background-color: #00D100;
  	height: 40px; 
  	width: 0%;
  	transition: width 0.5s;
  	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.highlight span {
	align-self: center;
	width: 100%;
}

#bioCarousel{
	margin: 50px;
	height: 75%;
	width: 75%;
}
#profile-pic{
	margin: 20px;
  	transition: .5s ease;
	border: 4px solid transparent;
	border-radius: 50%;
	height: 80%;
	width: 80%;
}
#profile-pic:hover {
	border: 4px solid green;
}
.linkedin{
	opacity: 0; 
	font-size: 50%; 
	color: #FFFFFF;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	transform: scale(3.0);
}
.description-block{
	color: white;
	align-self: center;
}

#gameb{
	border: 4px solid green;
}
.text{
	text-align: left;
    align-self: center;
	font-size: 90%;
}
.textm{
	text-align: center;
    align-self: center;
	font-size: 90%;
}
.tmimag{
	align-self: center;
}
#instapic{
	height: 100%;
	width: 100%;
}
.resume{
	padding-top: 1%;
	padding-bottom: 1%;
}
.titletext{
	font-size: 150%;
	color: white;
}
.spacepadding{
	padding-bottom: 1%;
}
#Contact{
	background-color: #101010;
}
#profile{
	margin-bottom: 2%;
}
footer{
	font-size: 50%;
	color: white;
	background-color: #101010;

}




div.panel {
	margin-top: 10px;
	padding: 5px;
	border: 2px solid #666;
	background: #111;
	float: left;
}

div.panel p {
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 0;
}

div.panel hr {
	border: 0;
  	height: 1px;
    background: #333;
    margin: 0 0 10px 0;
}
