body{

	background: black;
	font-family: "apercu",sans-serif;
	font-size: 150%;
	text-align: center;
}

ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
  	background-color: #0d295d;
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index:2;
}
li a {
	float: right;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
li a:hover {
	color: #00D100;
}
.active {
  	float: left;
}
.active:hover{
	color: white;
  	background-color: green;
}
.active span {
	animation:blinking 2s infinite;}
@keyframes blinking{
	0%{  color: white; }
	60%{ color: white; }
	100%{  color:transparent; }
}
.minititle{
	color: #00D100;
	background-color: #002395;
}
.container-fluid{
	background-color: #729beb;
}
.profile-top{
	font-size: 200%;
	font-family: 'Futura';

}
#bioCarousel{
	margin: 50px;
}
#profile-pic{
  	transition: .5s ease;
	margin: 20px;
	border: 4px solid #131F85;
	border-radius: 50%;
	height: 85%;
	width: 85%;
}
.linkedin{
	opacity: 0; 
	font-size: 50%; 
	color: #FFFFFF;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	transform: scale(3.0);
}
.description-block{
	color: #101010;
	align-self: center;
}

#gameb{
	border: 4px solid #df9c34;
}
.text{
	text-align: left;
    align-self: center;
	font-size: 90%;
}
.textm{
	text-align: center;
    align-self: center;
	font-size: 90%;
}
.tmimag{
	align-self: center;
}
#instapic{
	height: 100%;
	width: 100%;
	border: 8px solid #131F85;
}
.resume{
	padding-top: 1%;
	padding-bottom: 1%;
}
.titletext{
	font-size: 150%;
	color: white;
	background-color: #131F85;
	padding: .4%;
}
.spacepadding{
	padding-bottom: 1%;
}
footer{
	font-size: 50%;
	color: white;
}